$color-blue: #007bff;
$color-dark-blue: #0069d9;
$color-secondary: #6c757d;
$color-secondary-dark: #5a6268;

.button {
  background: $color-secondary;
  border-radius: 0.25em;
  border: none;
  color: var(--color-button-text);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0.375em 0.75em;

  &:hover,
  &:focus {
    background: $color-secondary-dark;
  }

  + .button {
    margin-left: 1em;
  }
}

.button__icon {
  color: transparent;
  text-shadow: 0 0 var(--color-button-text);
  transform: scale(-1, 1);
}

.button--sm {
  font-size: 14px;
}

.button--icon-only {
  border-radius: 50%;
  font-size: 12px;
  height: 2.75em;
  padding: 0;
  width: 2.75em;
}

.button--primary {
  background: $color-blue;
  color: var(--color-button-text);

  &:hover,
  &:focus {
    background: $color-dark-blue;
  }
}
