.alert {
  --color-alert-warning: #ffc;
  --color-alert-danger: #fcc;
  border: 1px solid currentcolor;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.alert--warning {
  background: var(--color-alert-warning);
}

.alert--error {
  background: var(--color-alert-danger);
}
