$color-purchased: rgb(0 128 0 / 33%);
$color-prioritized: rgb(255 0 0 / 33%);

.book-controls {
  align-items: center;
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 0.5em;
  }

  @media screen and (width >= 640px) {
    flex-direction: row;

    > * + * {
      margin-left: 2rem;
      margin-top: 0;
    }
  }
}

.book-controls__add {
  text-align: center;

  @media screen and (width >= 640px) {
    margin-right: auto;
    text-align: left;
  }
}

.book-controls__filter {
  @media screen and (width >= 640px) {
    margin-left: auto;
  }
}

.filter-list {
  border: none;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list__item {
  align-items: center;
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 0;

  + .filter-list__item {
    margin-left: 1em;
  }

  &::before {
    background: gray;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 0.75em;
    margin-right: 0.33em;
    width: 0.75em;
  }
}

.filter-list__checkbox {
  margin-right: 0.33em;
}

.filter-list__item--purchased {
  &::before {
    background: $color-purchased;
  }
}

.filter-list__item--prioritize {
  &::before {
    background: $color-prioritized;
  }
}

.sort__label {
  margin-right: 0.33em;
}
